@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Custom Font from your snippet */
@font-face {
  font-family: "longline";
  src: url("https://assets.codepen.io/756881/Longline+Quart+FREE.ttf") format("truetype");
}

html, body {
  overflow-x: clip;
}