@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
/* Reuseable Stroke Style for "OUR" */
.text-stroke-style {
  font-family: "Arial Black", "Arial Bold", Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(
    to bottom,
    rgb(255, 234, 0) 30%,
    rgb(255 255 255 / 0%) 76%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /*-webkit-text-stroke: 2px rgba(255, 215, 0, 0.3);*/ /* Gold Stroke */
  -webkit-text-stroke: 2px rgba(255, 215, 0, 0.3); /* Gold Stroke */
  line-height: 0.8; /* Tighter spacing */
}


.signature-font {
  font-family: "Edu NSW ACT Cursive", cursive;
}
